@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  padding: 2rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
  max-width: 800px;
}

.title {
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 1.2rem;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 1.1rem;
  font-family: var(--font-roboto);
  margin-bottom: 1.2rem;
  line-height: 1.6;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.7rem 1.3rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.contactBtn:hover {
  transform: scale(1.05);
}

.heroImg {
  width: 20%;
  z-index: 1;
  margin-right: 2rem;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.agentlink {
  display: inline-block;
  padding: 7px 7px;
  background-color: #1e4f8f;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    margin-top: 100px;
    padding: 1.5rem 0;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .heroImg {
    width: 40%;
    margin: 0 0 2rem 0;
  }
}
