@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 30px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 40px 10%;
  gap: 40px;
}

.text h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.75px;
}

.text p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 20px;
    padding: 20px 10%;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
